<main class="main">
  <div class="inner">
    <div class="card__wrapper">
      <%= render partial: "restaurant", collection: @restaurants %>
    </div>
  </div>
  <div class='restaurant-btn'>
  <span class='restaurant-btn-text'>投稿する</span>
  <a href='/restaurants/new'>
    <%= image_tag 'restaurant.png' , size: '190x55' ,class: "restaurant-btn-icon" %>
  </a>
</div>
</main>
